body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#Home img {
    width:10vw;
    height:10vh;
    margin-left:-10px;;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-image: url('Images/chitterchatternavbar.png');
    background-size: 50% 80%;
    background-repeat:no-repeat;
    background-position:center;
}

.navbar .container, .navbar.navbar-inverse.navbar-fixed-top {
    height:30vh;
}

.navbar-inverse {
    background-color: limegreen;
    background-color: rgbA(2, 174, 162, 0.7);
}

div.jumbotron {
    margin-top:25vh;
}