body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*  Headder */

#logoImg{
    width:10vw;
    height:10vh;
    margin-left:-10px;;
}

div.page-header{

    margin-top:0px;
    background-color: rgbA(128, 206, 210, 1);
    background-image: url('Images/chitterchatternavbar.png');
    background-size: 50% 80%;
    background-repeat:no-repeat;
    background-position:center;
    padding-top:3px;
    margin-bottom:0px;

}

#loginLink{
    color: white;
}


#Home img {
    width:10vw;
    height:10vh;
    margin-left:-10px;;
}

.navbar.navbar-inverse.navbar-fixed-top {
    background-image: url('Images/chitterchatternavbar.png');
    background-size: 50% 80%;
    background-repeat:no-repeat;
    background-position:center;
}

.navbar .container, .navbar.navbar-inverse.navbar-fixed-top {
    height: 15vh;
}

.navbar-inverse {
    background-color: rgbA(2, 174, 162, 1);
}

/*div.jumbotron {
    margin-top:25vh;
}*/

